.table_div{
    height: 700px;
    overflow: scroll; 
}
table{
    height: 80vh;
    overflow-y: scroll;
}
table tr td {
    padding:.8rem;

}
thead{
    border-bottom: 1px solid black;
    text-align: center;
}

.job span{
 box-shadow: 2px 2px 5px 2px rgb(28, 28, 28,0.1);
 padding: 1rem;
 width: 300px;
 margin-left: 1rem;
 text-align: center;

 h4{
    color: #4862BE;
 }
}